body
{
	background-image:url(" img/blackjack_bg.jpg");
	background-size: cover;
    color: whitesmoke;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
h1{
	padding-top: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: goldenrod;
}
#message{
	font-style: italic;
}
#start{
	color: green;
	font-weight: bold;
	font-size: 30px;
	width: 200px;
	height: 40px;
	background-color: goldenrod;
    margin-bottom: 10px;
}
#newcard{
	color: green;
	font-weight: bold;
	font-size: 30px;
	width: 200px;
	height: 40px;
	background-color: goldenrod;
    
}